header{
    background-color: #001126;
    margin: 0;
    justify-content: space-between;
    display: flex;
    position: sticky;
}

.title {
    color: white;
    font-size: 20px;
    font-family: Disney, serif;
    letter-spacing : 2.5px;
    font-weight: 550;
}

.imgHome{
    width: 28.5px;
    height: 28.5px;
    margin-top: 3.5px;
}

.divHome{
    justify-content: flex-start;
    display: flex;
    height: 30px;
    margin-top: 7px;
}

.h1Home{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 3px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 25px;
}

.h1Right{
    color: white;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
}

@font-face {
    font-family: 'Disney';
    src: url("http://localhost:8080/static/font/waltograph42.otf") format("truetype");
}