header{
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    background-color: #001126;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 999;
}

.title {
    color: white;
    font-size: 20px;
    font-family: Disney, serif;
    margin-left: 20px;
    letter-spacing : 2.5px;
    font-weight: 550;
}

.imgHome{
    width: 28.5px;
    height: 28.5px;
    margin-top: 3.5px;
}

.imgGlass{
    width: 28.5px;
    height: 28.5px;
    margin-top: 3.5px;
}

.divHome{
    justify-content: flex-start;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    margin: 3px 0px 0 5px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 25px;
}

h1 {
    color: white;
    text-decoration: none;
    margin: 3px 20px 0 5px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 25px;
}

.h1Home{
    color: white;
    text-decoration: none;
    margin: 3px 20px 0 5px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 25px;
}

.underlineEffect {
    text-decoration: none;
    position: relative;
}

.underlineEffect::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
    margin-top: 0;
    margin-left: 36px;
    z-index: 999;
}

.underlineEffect:hover::before {
    width: 75%;
    transform: scaleX(1);
}


@font-face {
    font-family: 'Disney';
    src: url("http://localhost:8080/static/font/waltograph42.otf") format("truetype");
}