*{
    box-sizing: inherit;
}

.center{
    text-align: center;
}

.title{
    margin-top: 300px;
    margin-bottom: 300px;
    color: white;
    font-size: 100px;
}

.sectionTitle{
    width: 100%;
    display: inline-block;
    background-image: url("../image/concert-test-fete-musique.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
}

.divTitle{
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}

body{
    margin: 0;
}

.sectionImage{
    align-content: center;
    display: flex;
    width: 1500px;
    height: 3300px;
    align-items: center;
    min-height: calc(50vh - 60px);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-wrap: wrap;

}

.divImage{
    text-align: center;
    width: 250px;
    height: 325px;
    background-color: black;
}

h1 {
    width: 250px;
}