
.center{
    text-align: center;
}

.langue {
    position: absolute;
    color: white;
    font-family: "Segoe UI", serif;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: -6px;
    font-weight: 400;

}

.title{
    margin-top: 36vh;
    color: white;
    font-size: 150px;
    font-family: Disney;
    letter-spacing : 5px;
    font-weight: 550;
    position: center;
}

.sectionTitle{
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-image: url("../image/concert-test-fete-musique.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    z-index: 1;
}

.divTitle{
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-color: rgba(36, 36, 84, 0.8);
    z-index: 1;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 56);
}

.sectionImage{
    width: 97%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.divImage{
    text-align: center;
    margin: 20px;
    width: 250px;
    height: 325px;
}


.barrette{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    top: -2px;
    margin-top: 71vh;
}

a{
    text-decoration : none;
    margin-top: 50px;
}

.h1Name{
    color: white;
    font-family: "Comic Sans MS", Serif;
    font-size: 27px;
    font-weight: 60;
}

.h1Search{
    color: white;
    font-family: "Segoe UI", serif;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: -6px;
    font-weight: 400;
}


.h1Search::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
    margin-top: 0;
    margin-left: 37px;
}



.h1Search:hover::before {
    width: 75%;
    transform: scaleX(1);
}

.image{
    width: 100%;
    height: 60%;
    border-radius : 20px;
    transition: all 0.2s ease-out;
    box-shadow:
            0 0 8px #fff,
            inset 0 0 8px #fff,
            0 0 16px #2e6bc7,
            inset 0 0 16px #2e6bc7,
            0 0 32px #2e6bc7,
            inset 0 0 32px #2e6bc7;
}

.image:hover {
    border: solid #ffff;
    transform: scale(1.1);
    box-shadow: inset 0 0 500px rgba(255, 0, 0, 0.9);

}

.glass{
    width: 30px;
    height: 30px;
}

.divSearch{
    justify-content: flex-start;
    display: flex;
    height: 32px;
    position: absolute;
    right: 0;
    margin: 20px 60px 0 0;
}

@font-face {
    font-family: 'Disney';
    src: url("../font/waltograph42.otf") format("truetype");
}


::-webkit-scrollbar{
    width: 12px;
    height: auto;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 9px;
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: #ffff;
}
