<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/404.css">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
    <div class="center">
        <img src="./static/image/{{index .SetImg .Nbr}}">
        <h1>404 ERROR</h1>
        <h2>The page you were looking for cannot be found.</h2>
        <p>Please go to the Disney+ home page by clicking the button below </p>

        <a href="/">
            MUSIC-MINDER+ HOME
        </a>
    </div>
</body>
</html>