<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/artist.css">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/m.png">
    <meta charset="UTF-8">
    <title>Artist</title>
</head>
<body>

<header>
    <h1 class="title"> MusicMinder+ </h1>
    <a href="/">
        <div class="divHome">
            <img src="./static/image/home.png" class="imgHome">
            <h1 class="h1Home">Home</h1>
        </div>
    </a>
    <h1 class="h1Right">aDef</h1>
</header>

<section class="sectionOut">
    <section class="sectionIn">
        <div class="divImage">
            <img src="{{.Image}}">
        </div>
        <div class="divText">
            <h1>{{.Name}}</h1>
        </div>
    </section>
</section>
<section>
    <p>
        {{range $i, $member := .Members}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $member -}}
        {{end}}
    </p>
    <p>~ {{.CreationDate}} ~</p>
    <p>
        {{range $i, $locations := .Locations.Locations}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $locations -}}
        {{end}}
    </p>
    <p>
        {{range $i, $dates := .ConcertDates.Dates}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $dates -}}
        {{end}}
    </p>
</section>
<a href="/home">return</a>

<footer>
    <h1 class="title_footer"> MusicMinder+ </h1>
    <a href="https://ytrack.learn.ynov.com/git/clucille/groupie-tracker.git" class="repo">Repository Gitea</a>
    <p class="credit">Cenac Lucille - Fauré Léo</p>
</footer>

</body>
</html>