<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="http://localhost:8080/static/css/artist.css">
        <link rel="stylesheet" href="http://localhost:8080/static/css/header.css">
        <link rel="stylesheet" href="http://localhost:8080/static/css/slider.css">
        <link rel="stylesheet" href="http://localhost:8080/static/css/footer.css">

        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" />


        <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/m.png">
        <meta charset="UTF-8">
        <title>Artist</title>
    </head>

<body>
    <header class="top">
        <img src="http://localhost:8080/static/image/logo.png" class="title" alt="logo">
        <a href="/" class="underlineEffect">
            <div class="divHome">
                <img src="http://localhost:8080/static/image/home.png" class="imgHome" alt="home icon">
                <h1 class="h1Home">{{index $.Language.CurrentLang 0}}</h1>
            </div>
        </a>

        <a href="/research" class="underlineEffect">
            <div class="divHome">
                <img class="imgHome" src="http://localhost:8080/static/image/research.png" alt="research icon">
                <h1 class="h1Search">{{index $.Language.CurrentLang 1}}</h1>
            </div>
        </a>

        <div class="divHome underlineEffect">
            <img class="imgHome" src="http://localhost:8080/static/image/globe.png" alt="globe icon">
            <h1 class="h1Search">{{index $.Language.CurrentLang 2}}</h1>
            <form method="post" class="menu">
                <label>
                    <select name="language">
                        <option value="fr">fr</option>
                        <option value="es">en</option>
                        <option value="es">es</option>
                        <option value="ge">ge</option>
                    </select>
                </label>
                <input type="submit" value="send" class="but">
            </form>
        </div>
    </header>

    <section class="sectionIn">
        <div class="divImage">
            <img src="{{.Image}}" class="img" alt="logo group">
        </div>
        <div class="divText">
            <h1 class="name">{{.Name}}</h1>
            <p>★ {{index $.Language.CurrentLang 12}} {{.CreationDate}} ★</p>
            <p>♪ {{index $.Language.CurrentLang 13}} {{.FirstAlbum}} ♪</p>
            <div class="divBehavior">
                <a href="#members">
                    <img src="./static/image/group.png" class="scrollBehavior">
                </a>
                <a href="#concert">
                    <img src="./static/image/live.png" class="scrollBehavior">
                </a>
                <a href="#map">
                    <img src="./static/image/emplacement.png" class="scrollBehavior">
                </a>
                <a href="#suggestion">
                    <img src="./static/image/musical.png" class="scrollBehavior">
                </a>
            </div>
        </div>
    </section>

    <section>
        <h1 class="proposition" id="members">{{index $.Language.CurrentLang 14}} :</h1>
        <p>
            {{range $i, $member := .Members}}
                {{- if ne $i 0 -}}, {{end}}
                {{- $member -}}
            {{end}}
        </p>
        <h1 class="proposition" id="concert">{{index $.Language.CurrentLang 15}} :</h1>
            {{range $location, $date := .Relations.Relation}}
                <p> {{$location}}  : {{range $date}} <span>{{.}}</span> {{end}} </p>
                <br>
            {{end}}


        <h1 class="proposition" id="maps">{{index $.Language.CurrentLang 16}} :</h1>

        <div id="map" style="width:800px;height:500px;text-align: center; margin: 50px auto; border-radius: 5px"></div>
        <script>
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-87.6298, 41.8781]),
                    zoom: 10
                })
            });
            var marker = new ol.Feature({
                geometry: new ol.geom.Point(
                    ol.proj.fromLonLat([-87.6298, 41.8781])
                )
            });
            var markerVectorLayer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [marker]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        anchor: [0.5, 1],
                        src: 'https://openlayers.org/en/latest/examples/data/icon.png'
                    })
                })
            });
            map.addLayer(markerVectorLayer);
        </script>
        <h1 class="proposition" id="suggestion">{{index $.Language.CurrentLang 17}} :</h1>

        <section class="product">
            <button class="pre-btn2"><img src="http://localhost:8080/static/image/arrow.png" alt=""></button>
            <button class="nxt-btn2"><img src="http://localhost:8080/static/image/arrow.png" alt=""></button>

            <div class="product-container">
                {{range .Suggestion}}
                <div class="product-card">
                    <div class="product-image">
                        <a href="{{.ID}}">
                            <img src="{{.Image}}" class="image" alt="">
                        </a>
                    </div>
                </div>
                {{end}}
            </div>
            <script src="http://localhost:8080/static/js/slider.js"></script>

        </section>
    </section>
    <footer>
        <img src="http://localhost:8080/static/image/logo.png" class="titleBottom" alt="logo"> <br>
        <a href="https://ytrack.learn.ynov.com/git/clucille/groupie-tracker.git" class="credit">Repository Gitea</a><br>
        <a href="https://www.flaticon.com/fr/" class="credit">Flaticon</a>
        <p class="credit">Cenac Lucille - Fauré Léo</p>
    </footer>
</body>
</html>