<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/artist.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/musique.png">
    <meta charset="UTF-8">
    <title>Artist</title>
</head>
<body>
<section class="sectionOut">
    <section class="sectionIn">
        <div class="divImage">
            <img src="{{.Image}}">
        </div>
        <div class="divText">
            <h1>{{.Name}}</h1>
        </div>
    </section>
</section>
<section>
    <p>
        {{range $i, $member := .Members}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $member -}}
        {{end}}
    </p>
    <p>~ {{.CreationDate}} ~</p>
    <p>
        {{range $i, $locations := .Locations.Locations}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $locations -}}
        {{end}}
    </p>
    <p>
        {{range $i, $dates := .ConcertDates.Dates}}
        {{- if ne $i 0 -}}, {{end}}
        {{- $dates -}}
        {{end}}
    </p>
</section>
</body>
</html>