<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/m.png">
    <meta charset="UTF-8">
    <title>MM+</title>
</head>
<body>

<a href="/research">
    <div class="divSearch">
        <img class="glass" src="./static/image/research.png">
        <h1 class="h1Search">Research</h1>
    </div>
</a>

    <section class="sectionTitle">
        <div class="center divTitle">
            <h1 class="title">MusicMinder+</h1>
        </div>
    </section>

        <img class="barrette" src="./static/image/gradient.png">

    <section class="sectionImage">
        {{range .Show}}
        <a href="{{.ID}}">
            <div class="divImage">
                <img src="{{.Image}}" class="image" alt="Image group">
                <h1 class="h1Name">{{.Name}}</h1>
            </div>
        </a>
        {{end}}
    </section>

<footer>
    <h1 class="title_footer"> MusicMinder+ </h1>
    <a href="https://ytrack.learn.ynov.com/git/clucille/groupie-tracker.git" class="repo">Repository Gitea</a>
    <p class="credit">Cenac Lucille - Fauré Léo</p>
</footer>

</body>
</html>