<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/home.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="sectionTitle">
        <div class="center divTitle">
            <h1 class="title">MENU</h1>
        </div>
    </section>
    <section class="sectionImage">
        {{range .}}
        <div class="divImage">
        <img src="{{.Image}}">
        <h1>{{.Name}}</h1>
        </div>
        {{end}}
    </section>
</body>
</html>