<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="http://localhost:8080/static/css/slider.css">
    <title>Hiking Kings</title>
</head>

<body>
    <section class="product"> 
        <button class="pre-btn"><img src="http://localhost:8080/static/image/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="http://localhost:8080/static/image/arrow.png" alt=""></button>

        <div class="product-container">
            {{range .Data}}
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{.Image}}" class="product-thumb" alt="">
                    </div>
                </div>
            {{end}}
        </div>
    </section>
    
    <script src="http://localhost:8080/static/js/script.js"></script>
</body>
</html>