<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/research.css">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/m.png">
    <meta charset="UTF-8">
    <title>MM+</title>
</head>
<body>

<header>
    <h1 class="title"> MusicMinder+ </h1>
    <a href="/" class="underlineEffect">
        <div class="divHome">
            <img src="./static/image/home.png" class="imgHome">
            <h1 class="h1Home">Home</h1>
        </div>
    </a>
    <a href="/research" class="underlineEffect">
        <div class="divHome">
            <img class="imgHome" src="./static/image/research.png">
            <h1 class="h1Search">Research</h1>
        </div>
    </a>
    <h1 class="h1Right">Language</h1>
</header>

<main>
<form>
    <input type="text" name="search" placeholder="Choose a group" list="programmingLanguages">
    <datalist id="programmingLanguages">
        {{range .Data}}
            <option value="{{.Name}}">{{.Name}} - group</option>
            {{range .Members}}
                <option value="{{.}}">{{.}} - members</option>
            {{end}}
        {{end}}
    </datalist>
</form>

<section class="sectionImage">
    {{range .Show}}
    <a href="{{.ID}}">
        <div class="divImage">
            <img src="{{.Image}}" class="image" alt="Image group">
            <h1 class="h1Name">{{.Name}}</h1>
        </div>
    </a>
    {{end}}
</section>
</main>

<footer>
    <h1 class="title"> MusicMinder+ </h1>
    <a href="https://ytrack.learn.ynov.com/git/clucille/groupie-tracker.git" class="credit">Repository Gitea</a><br>
    <a href="https://www.flaticon.com/fr/" class="credit">Flaticon</a>
    <p class="credit">Cenac Lucille - Fauré Léo</p>
</footer>

</body>
</html>